.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(0, 0, 0);

    @include tablet {
        padding: 1rem;
    }

    .intro-sctn {

        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: min-content;
        border-bottom: solid $mainColor 1px;
        padding-bottom: 1rem;




        .intro-img {
            background-image: url("/imgs/sports-classic-car-5k-yh.jpg");
            background-size: cover;
            background-position: center center;
            border-radius: 2rem;
            min-height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: end;

            p {
                font-size: 2rem;
                padding: 1rem;
                background-color: rgba(177, 29, 0, 0.205), ;
                margin: 0;
                color: $textColor;
                border-radius: 0rem 0rem 2rem 2rem;

                @include tablet {
                    font-size: 1.6rem;
                    padding: 1rem;
                }

                @include mobile {
                    font-size: 1.2rem;
                    padding: 0.6rem;
                }

                @include mini {
                    font-size: 0.8rem;
                }

            }



        }


    }



    #catalogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem;



        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;
            justify-content: space-between;
            border-bottom: solid $mainColor 1px;
            padding: 3rem;

            @include notebook {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0.5rem;
                justify-content: space-between;
                padding: 0.5rem;


            }

            @include tablet {
                grid-template-columns: 1fr 1fr;
            }

            @include ant {
                grid-template-columns: 1fr; 
            }


            #tarjeta-auto {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                padding: 1rem;
                color: $menuColor ;
                background-color: $textColor;
                width: 20rem;
                border: solid $mainColor 0.5px;
                border-radius: 0.5rem;

                @include mobile {
                    padding: 0.5rem;
                    width: 16rem;
                }

                @include mini {
                    padding: 0.2rem;
                    width: 12rem;
                }



                &:hover {
                    transition: 0.5s;
                    transform: scale(1.02);
                    transform: translateY(-5px);
                    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
                    ;
                }

                & img {
                    width: 18rem;
                    border-radius: 5px;

                    @include mobile {
                        width: 15rem;
                    }

                    @include mini {
                        width: 10rem;
                    }
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 1rem;
                    line-height: 1.5rem;

                    @include mobile {
                        line-height: 1rem;
                        font-size: 1rem;
                        padding: 0.5rem;
                    }

                    @include mini {
                        line-height: 0.8rem;
                        font-size: 0.6rem;
                        padding: 0.5rem;
                    }



                    .btn-comprar {
                        color: white;
                        background-color: $linkHoverColor;
                        padding: 0.5rem;
                        border-radius: 5px;

                        @include mobile {
                            font-size: 0.7rem;
                        }

                        @include mini {

                            font-size: 0.5rem;

                        }

                        &:hover {
                            font-weight: bold;
                            color: $textColor;
                            transition: 0.5s;

                        }
                    }

                }

            }
        }


    }


}

#carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    border: solid $mainColor 1px;
    margin-top: 1rem;

    p {
        font-size: 1.5rem;
        font-weight: 400;
        color: rgb(109, 134, 210);

        @include mobile {
            font-size: 1rem;
        }
        @include ant {
            font-size: 0.7rem;
            
        }

        span {
            padding: 0.5rem;
            border-radius: 3px;
            background-color: $mainColor;
            color: $menuColor;

            @include mobile {
                padding: 0.2rem;
            }
        }
    }

    #lista-carrito {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: space-evenly;
        padding: 2rem;

        @include tablet {

            grid-template-columns: 1fr 1fr 1fr;

        }

        @include mobile {
            grid-template-columns: 1fr 1fr;

        }

        @include mini {
            grid-template-columns: 1fr;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .card-body {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                @include mobile {
                    line-height: 1rem;
                }
               @include ant{
                line-height: 0.7rem;
               }


                h4 {
                    font-size: 2rem;
                    color: $menuColor;

                    @include notebook {
                        font-size: 1.5rem;
                    }
                    @include ant {
                        font-size: 1rem;
                       
                    }


                }

                p {
                    font-size: 1rem;

                    @include notebook {
                        font-size: 0.8rem;
                    }

                    
            @include ant {
                font-size: 0.6rem;
                padding: 0.1rem;
            }

                    span {
                        padding: 0.1rem;
                        font-size: 1rem;

                        @include notebook {
                            font-size: 0.8rem;
                        }

                        @include ant {
                            font-size: 0.5rem;
                            padding: 0.1rem;
                        }
                    }
                }

                button {
                    color: white;
                    background-color: $linkHoverColor;
                    padding: 0.5rem;
                    border-radius: 5px;

                    @include notebook {
                        font-size: 0.8rem;
                        padding: 0.5rem;
                        border-radius: 3px;
                    }

                    
            @include ant {
                font-size: 0.5rem;
                padding: 0.3rem;
                border-radius: 3px;
            }

                    &:hover {
                        font-weight: bold;
                        color: $textColor;
                        transition: 0.5s;
                    }
                }
            }



            &:hover {
                transition: 0.5s;
                transform: scale(1.02);
                transform: translateY(-5px);
                box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
                background-color: $textColor;
            }
        }
    }


    #confirmo-compra {

        color: white;
        background-color: $linkHoverColor;
        padding: 0.5rem;
        border-radius: 5px;

        @include mobile {
            font-size: 0.8rem;
        }
        @include mini{
            padding: 0.3rem;
            font-size: 0.5;
        }

        &:hover {
            font-weight: bold;
            color: $textColor;
            transition: 0.5s;
        }
    }

}




.ultimo-mensaje {
    font-weight: 500;
    color: $menuColor;
    font-size: 2rem;
}

.ultima-compra-section {
    display: flex;
    flex-direction: column;
    border-bottom: solid $mainColor 1px;
    align-items: center;

    #ultima-compra-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: space-evenly;
        padding: 2rem;

        @include notebook {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0.5rem;
            justify-content: space-evenly;
            padding: 1rem;

        }

        @include tablet {
            grid-template-columns: 1fr 1fr;
        }

        
        @include ant {
            grid-template-columns: 1fr; 
        }


        .ultima-compra-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border: solid rgb(197, 229, 137) 2px;
            background-color: $textColor;
            color: $menuColor;
            border-radius: 1rem;

            @include mobile {
                padding: 0.5rem;
                font-size: 0.8rem;
            }


            @include mini {
                font-size: 0.5rem;
            }

            img {
                border-radius: 5px;


                @include mini {
                    width: 10rem;
                }
            }

            span {
                padding-inline: 0.5rem;
                border-radius: 3px;
                background-color: $mainColor;
                color: $menuColor
            }
        }
    }
}