#carrito {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p{
        font-size: 1.5rem;
        font-weight: 400;
        color: rgb(109, 134, 210);

        span{padding: 0.5rem;
        border-radius: 3px;
        background-color: $mainColor;
          color: $menuColor;
        }
    }
}


#modelo-comprado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;

    .menu {
        width: 100%;

        nav {
            .navbar {
                display: flex;
                justify-content: space-around;

                li {
                    a {
                        color: $mainColor;
                        padding: 1rem;
                        border-radius: 5px;
                        border: solid red 4px;
                    }
                }
            }
        }
    }
}