* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 2;
}

h1 {
  padding-top: 1.5rem;
  font-size: 4rem;
  font-family: "Nunito", sans-serif;
}

img {
  width: 200px;
}

a {
  color: black;
  text-decoration: none;
  font-family: "National First Font", sans-serif;
}

h2 {
  color: rgb(255, 137, 1);
  padding-top: 1.5rem;
  font-size: 5rem;
  font-family: "Nunito", sans-serif;
}

button {
  color: white;
  background-color: rgb(124, 174, 124);
  padding: 0.5rem;
  border-radius: 5px;
}
button:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}

h5 {
  font-weight: 500;
  color: rgb(92, 18, 119);
}

h3 {
  padding: 0.5rem;
  font-weight: 500;
  color: rgb(92, 18, 119);
}

#carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carrito p {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(109, 134, 210);
}
#carrito p span {
  padding: 0.5rem;
  border-radius: 3px;
  background-color: rgb(255, 137, 1);
  color: rgb(92, 18, 119);
}

#modelo-comprado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
header .menu {
  width: 100%;
}
header .menu nav .navbar {
  display: flex;
  justify-content: space-around;
}
header .menu nav .navbar li a {
  color: rgb(255, 137, 1);
  padding: 1rem;
  border-radius: 5px;
  border: solid red 4px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgb(0, 0, 0);
}
.main .intro-sctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: -moz-min-content;
  min-height: min-content;
  border-bottom: solid rgb(255, 137, 1) 1px;
  padding-bottom: 1rem;
}
.main .intro-sctn .intro-img {
  background-image: url("../imgs/sports-classic-car-5k-yh.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 2rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.main .intro-sctn .intro-img p {
  font-size: 2.5rem;
  padding: 1rem;
  background-color: rgba(177, 29, 0, 0.205);
  margin: 0;
  color: rgb(232, 155, 246);
  border-radius: 0rem 0rem 2rem 2rem;
}
.main #catalogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
}
.main #catalogo .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
  border-bottom: solid rgb(255, 137, 1) 1px;
  padding: 3rem;
}
.main #catalogo .cards #tarjeta-auto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  color: rgb(92, 18, 119);
  background-color: rgb(232, 155, 246);
  width: 20rem;
  border: solid rgb(255, 137, 1) 0.5px;
  border-radius: 0.5rem;
}
.main #catalogo .cards #tarjeta-auto:hover {
  transition: 0.5s;
  transform: scale(1.02);
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.main #catalogo .cards #tarjeta-auto img {
  width: 18rem;
}
.main #catalogo .cards #tarjeta-auto .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  line-height: 1.5rem;
}
.main #catalogo .cards #tarjeta-auto .card-body .btn-comprar {
  color: white;
  background-color: rgb(124, 174, 124);
  padding: 0.5rem;
  border-radius: 5px;
}
.main #catalogo .cards #tarjeta-auto .card-body .btn-comprar:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}
.main #tarjeta-auto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 20rem;
  border: solid rgb(158, 128, 152) 0.5px;
}
.main #tarjeta-auto:hover {
  transition: 0.5s;
  transform: scale(1.02);
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.main #tarjeta-auto img {
  border-radius: 3px;
  width: 18rem;
}
.main #tarjeta-auto .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1.5rem;
}
.main #tarjeta-auto .card-body .btn-comprar {
  color: white;
  background-color: rgb(124, 174, 124);
  padding: 0.5rem;
  border-radius: 5px;
}
.main #tarjeta-auto .card-body .btn-comprar:hover {
  color: rgb(124, 174, 124);
  transition: 0.5s;
  background-color: brown;
}

#carrito {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  border: solid rgb(255, 137, 1) 1px;
  margin-top: 1rem;
}
#carrito #lista-carrito {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 2rem;
}
#carrito #lista-carrito .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carrito #lista-carrito .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carrito #lista-carrito .card .card-body h4 {
  font-size: 2rem;
  color: rgb(92, 18, 119);
}
#carrito #lista-carrito .card .card-body p {
  font-size: 1rem;
}
#carrito #lista-carrito .card .card-body p span {
  font-size: 1rem;
}
#carrito #lista-carrito .card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  transform: translateY(-5px);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: rgba(228, 235, 100, 0.775);
}

.ultimo-mensaje {
  font-weight: 500;
  color: rgb(92, 18, 119);
  font-size: 2rem;
}

.ultima-compra-section {
  display: flex;
  flex-direction: column;
  border-bottom: solid rgb(255, 137, 1) 1px;
  align-items: center;
}
.ultima-compra-section #ultima-compra-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 2rem;
}
.ultima-compra-section #ultima-compra-list .ultima-compra-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: solid rgb(197, 229, 137) 2px;
  background-color: rgb(232, 155, 246);
  color: rgb(92, 18, 119);
  border-radius: 1rem;
}
.ultima-compra-section #ultima-compra-list .ultima-compra-card img {
  border-radius: 5px;
}
.ultima-compra-section #ultima-compra-list .ultima-compra-card span {
  padding-inline: 0.5rem;
  border-radius: 3px;
  background-color: rgb(255, 137, 1);
  color: rgb(92, 18, 119);
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 137, 1);
  background-color: rgb(92, 18, 119);
  padding: 0rem;
}
.head h1 {
  display: flex;
}
.head h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head h1 span .logo-icon {
  display: inline;
  width: 4rem;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(255, 137, 1);
  background-color: rgb(92, 18, 119);
  padding: 0rem;
}
.foot h1 {
  display: flex;
}
.foot h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot h1 span .logo-icon {
  display: inline;
  width: 4rem;
}/*# sourceMappingURL=estilo.css.map */
